.composition {
    // Властивість position визначає тип позиціювання відносно вікна браузера або інших елементів
    position: relative;
    // Відносне позиціювання. Положення елемента встановлюється відносно його поточного положення.
    // Додавання властивостей left, top, right і bottom змінює позицію елемента і зрушує його в ту чи іншу сторону.
    // Ця властивість дозволяє змінюва ти позицію елемента без зміни макету.

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute; //Видаляє елемент з загального потоку (місце, що звільнив елемент заповнюється іншими елементами) і вставляється відносно свого батьківського, не статично позиційованого елемента,
        transition: all .2s;
        outline-offset: 2rem; //Властивість outline-offset встановлює відстань між контуром та кордоном елемента (властивість border).

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;//Властивість outline задає зовнішній контур навколо елементу. 
            transform: scale(1.05) translateY(-.5rem); //Масштабування елемента по горизонталі та вертикалі. Значення меньше 1 - зменшує елемент, більше - збільшує.
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20; //Властивість z-index визначає порядок стека елемента. Іншими словами, Ви можете розмістити елемент на сторінці вище іншого елементу або перед ним.
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}
